<!DOCTYPE html>
<html>
<head>
           <link rel="stylesheet" href='/css/styles.css'

<body>
 {{>header}}
   <div class="main-content"></div>
      <h1>Weather</h1>
</body>
<img class="potrait" src="/img/imag.jpg">

</head>
   {{>footer}}
</html>